html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

#root {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}

#bcontainer {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;

}

#showme {
  position: relative;
  margin: auto;
}