* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;    
}

.container-body {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.main-flex-box {
  width: 30em;
  height: 20em;
  border: solid black;
  display: flex;
}

.left-side {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right-side {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.left-side div {
  width: 80%;
  height: 20%;
  border: solid yellow;
}

.right-side div {
  width: 80%;
  height: 90%;
  border: solid green;
}

.nav-bar {
  width: 100%;
  height: 100px;
}

.container-nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.nav-bar {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.nav-bar ul {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  border: solid blue;
}

.list-option {
  border: coral solid;
  width: 100px;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}